<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <nav>
        <a href="/home">home</a>
        <a href="/analytics">analytics</a>
    </nav>
    <h1>Welcome to Url Shorthen</h1>
    <form action="/url" method="post">
        <label>Enter Your Originak Url</label>
        <input placeholder="http://example.com" type="text" name="url"/>
        <button type="submit">Generate</button>
    </form>

    
    
</body>
</html>